{% inherit 'default/temphist.html' %}

{% block temphist %}
<div id="container" style="width:100%; height:400px;"></div>

<script>
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Suivi de la température',
            x: -20 //center
        },

        xAxis: {    // A raffiner !
            type: 'datetime',
            dateTimeLabelFormats : {
                second: '%Y %a %e %b %H:%M',
                minute: '%Y %a %e %b %H:%M',
                hour: '%Y %a %e %b %H:%M',
                day: '%Y %a %e %b %H:%M',
                week: '%Y %a %e %b %H:%M',
                month: '%Y %a %e %b %H:%M',
                year: '%Y %a %e %b %H:%M'
            },
            title: {
                text: 'Date/Heure'
            }
        },
        yAxis: {
            max : 35,
            min : -5,
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
            {% for h in tempHist %}
            {
             type: 'spline',
           name: "{{ h[0] }}",
            data: [
               {% for v in h[1] %}
                  [ {{ v[0]|safe }} , {{ v[1] }} ]
                  {%- if not loop.last -%}
                  ,
                  {%- endif -%}
               {% endfor %}
            ]
            },
               {% endfor %}
]
    });
});

</script>
{% endblock %}
