{% extends "domoweb.html" %}
{% block maincontent %}
 <div class="w3-row">
   <div class="w3-col s6 w3-blue w3-center"><p>
      <div class="w3-medium">Eau</div>
      <div class="w3-jumbo"> {{ waterTemp }}°</div>
   </p></div>
   <div class="w3-col s6 w3-green w3-center"><p>
      <div class="w3-medium">Air</div>
      <div class="w3-jumbo"> {{ roomTemp }}°</div>
   </p></div>
</div>

<br>
 <div class="w3-row">
   <div class="w3-col s4  w3-center"><p>
       {% if etatEclairage == 1 %}
          <i class="fa fa-lightbulb-o w3-large"></i>
          <a class="w3-btn w3-green" value="Eteindre" href="{{ url_for('do', module=currentMenu, action='lightOff') }}">
          <i class="fa fa-lightbulb-o  w3-large"></i> Eteindre</a>
       {% else %}
          <a class="w3-btn w3-black" value="Allumer" href="{{ url_for('do', module=currentMenu, action='lightOff') }}">
          <i class="fa fa-lightbulb-o  w3-large"></i> Allumer</a>
       {% endif %}
   </p></div>
   <div class="w3-col s4  w3-center"><p>
    <input class="w3-btn" value="Filtration">
   </p></div>
   <div class="w3-col s4  w3-center"><p>
    <input class="w3-btn" value="Oxygène">
   </p></div>
</div>

{% endblock %}
