{% extends "domoweb.html" %}
{% block maincontent %}
<div class="w3-row">
  <div class="w3-col m4  w3-center"><p>
    <div class="w3-row">
     {% with thermometer=module.getAttribute('room-temp') %}
     {% with name="Air ambiant" %}
     {%   include templateTheme + '/thermometer.html' %}
     {% endwith %}
     {% endwith %}
    </div>
    <div class="w3-row">
     {% with temphist=module.getAttribute('room-temp').getAttribute('historic') %}
     {%   include templateTheme + '/temphist.html' %}
     {% endwith %}
    </div>
    <div class="w3-row">
     {% with light=module.getAttribute('light-switch') %}
     {%   include templateTheme + '/switch-light.html' %}
     {% endwith %}
    </div>
  </div>

  <div class="w3-col m4  w3-center"><p>
    <div class="w3-row">
     {% with thermometer=module.getAttribute('reef-temp') %}
     {% with name="Eau du bac" %}
     {%   include templateTheme + '/thermometer.html' %}
     {% endwith %}
     {% endwith %}
    </div>
    <div class="w3-row">
     {% with temphist=module.getAttribute('reef-temp').getAttribute('historic') %}
     {%   include templateTheme + '/temphist.html' %}
     {% endwith %}
    </div>
    <div class="w3-row">
     {% with button=module.getAttribute('pump-switch') %}
     {%   include templateTheme + '/switch.html' %}
     {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
