{% extends "domoweb.html" %}
{% block maincontent %}
{% if current_user.is_authenticated %}
Mettre ici un redirect
{% else %}

   <form class="w3-container" action="" method="post">
      <input class="w3-input" type="text" placeholder="Username"
	     name="username" value="{{ request.form.username }}">
      <label>Login</label>
      <input class="w3-input" type="password" placeholder="Password"
	     name="password" value="{{ request.form.password }}">
      <label>Mot de passe</label>
      <br>
      
      <input class="w3-check" type="checkbox">
      <label class="w3-validate">Remember me</label>
	<button class="w3-btn w3-blue" type="submit"> Register</button>
   </form>
{% endif %}

{% endblock %}
