  <ul class="w3-navbar w3-light-grey">
      {% for menu in tabList %}
      <li><a {% if (module is defined) and (menu.name.decode("utf-8") == module.name) %}class="w3-red"{% endif %}
	     href="{{ url_for('menu', modName=menu.getAttribute('name')) }}">{{menu.getAttribute('name').decode("utf-8")}}
      </a></li>
      {% endfor %}
      <li class="w3-right w3-green">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">{{ current_user.name() }}</a>
         {% else %}
            <a href="{{ url_for('menu', modName='login') }}">login</a>
	 {% endif %}
      </li>
  </ul>

