{% extends "domoweb.html" %}
{% block maincontent %}
<div class="w3-row">
  <div class="w3-col m4  w3-center"><p>
    <div class="w3-row">
      {% with thermometer=module.getAttribute('air-temp') %}
      {% with name="Air ambiant" %}
      {%   include templateTheme + '/thermometer.html' %}
      {% endwith %}
      {% endwith %}
    </div>
    <div class="w3-row">
      {% with temphist=module.getAttribute('air-temp').getAttribute('historic') %}
      {%   include templateTheme + '/temphist.html' %}
      {% endwith %}
    </div>
  </div>

  <div class="w3-col m4  w3-center"><p>
    <div class="w3-row">
      {% with thermometer=module.getAttribute('water-temp') %}
      {% with name="Eau du bassin" %}
      {%   include templateTheme + '/thermometer.html' %}
      {% endwith %}
      {% endwith %}
    </div>
    <div class="w3-row">
      {% with temphist=module.getAttribute('water-temp').getAttribute('historic') %}
      {%   include templateTheme + '/temphist.html' %}
      {% endwith %}
    </div>
  </div>
</div>
<div class="w3-row">
  <div class="w3-col m2  w3-center"><p>
    {% with light=module.getAttribute('light-switch') %}
    {%   include templateTheme + '/switch-light.html' %}
    {% endwith %}
  </div>
  <div class="w3-col m2  w3-center"><p>
    {% with button=module.getAttribute('pump-switch') %}
    {% with name="Filtration" %}
    {%   include templateTheme + '/switch.html' %}
    {% endwith %}
    {% endwith %}
  </div>
  <div class="w3-col m2  w3-center"><p>
    {% with button=module.getAttribute('ph-switch') %}
    {% with name="pH mètre" %}
    {%   include templateTheme + '/switch.html' %}
    {% endwith %}
    {% endwith %}
  </div>
  <div class="w3-col m2  w3-center"><p>
    {% with button=module.getAttribute('robot-switch') %}
    {% with name="Robot" %}
    {%   include templateTheme + '/switch.html' %}
    {% endwith %}
    {% endwith %}
  </div>
</div>

{% endblock %}
